<!-- views/contact.ejs -->
<h1>Transito Insert</h1>
<div class="form-header">
    <h2>Send us a message</h2>
  </div>
  <form method="post" action="/Transito/" novalidate>
    <div class="form-field">
      <label for="Dominio">Dominio:</label>
      <input class="input" id="Dominio" name="Dominio" value="" />
    </div>
    <div class="form-field">
      <label for="Calle">Calle:</label>
      <input class="input" id="Calle" name="Calle" value="" />
    </div>
    <div class="form-field">
      <label for="DNI">DNI:</label>
      <input class="input" id="DNI" name="DNI" value="" />
    </div>
    <div class="form-field">
      <label for="Infracciones">Infracciones:</label>
      <input class="input" id="Infracciones" name="Infracciones" value="" />
    </div>
    <div class="form-field">
      <label for="Observaciones">Observaciones:</label>
      <input class="Observaciones" id="Observaciones" name="Observaciones" value="" />
    </div>
    <div class="form-actions">
      <button class="btn" type="submit">Enviar</button>
    </div>
  </form>
  